body{
    color: white;
    background-image: url(matrix.png),url(matrix2.png);
    background-position: left,right;
    background-repeat: repeat-y,repeat-y;
    text-align: justify;
    background-size: 100px,100px;
    background-color:black;
}
@font-face {
    font-family: monoton;
    src: url(monoton.woff2);
}

h1 {
    font-family: monoton;
    color: greenyellow;
    letter-spacing: 10px;
    text-transform: unset;
    text-align: center;
}
h2 { 
    background-color:#05c705;
    letter-spacing: 10px;
    margin-top: 0px;
}
.container {
    margin-left:100px;
    margin-right: 100px;
    background-color: black;
}
.pong{ 
    border: 2px solid white ;
}
.space{ 
    border: 2px solid white ;
}
.pac{ 
    border: 2px solid white ;
}
.space img {float: left;
    width: 130px;
}
.pong img{float: right;
    width: 130px;
}
.pac img{float: right;
    width: 130px;
    margin-left: 15px;
}
img {
    border:2px white solid ;
    outline: 2px greenyellow solid;
    margin-right: 9px;
}
p {
padding-left:20px ;
padding-right: 20px;
}
