body {
    font-family:Arial, Helvetica, sans-serif ;
    letter-spacing: 2px ;
    border: solid 1px green;
    outline: 1px yellow solid;
    font-style: inherit;
    color: ivory;
    border-top-right-radius: 10px ;
    border-bottom-right-radius:10px ;
    background-color: red
    ;


}
#xd {
    margin-left: 150px;
    margin-right: 150px;
   background-color: lightcoral;
}