body {
    font-family: sans-serif;
    background-color:;
    font-family: ;
    text-align: ;
}
h1{
    color: ;
    font-size: ;
    text-align: ;
    text-transform: ;
}
h2{
    background-color: ;
    color: ;
    font-size: ;
    text-decoration: ;
}
h3 {
    background-color: ;
    color: ;
    font-size: ;
    font-style: ;
}
p{
    background-color: ;
}
