body {
    background-color: #2D8652;
    font-family: sans-serif;
}

h1 {
    font-size: 55px;
    text-transform: capitalize;
}

p {
    font-size: 150%;
}

.rayado{
    color: white;
    font-family: serif;
    font-style: oblique;
}

.salmon {
    color: #FFDFB3;
    font-family: sans-serif;
}

.naranja {
    color: 	#FF9F1A;
    font-family: monospace;
    font-size: 200%;
}

.rojo {
    color: #E6194C;
    font-family: cursive;
}