<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>VUEJS</title>
  </head>

  <body>
    <div id="app" class="container">
      <div v-for="results in jsonObject.results" v-if="results.gender == 'male'" style="color: blue; background:yellow ;">
        <h1>{{results.name.title}} {{results.name.first}} {{results.name.last}}</h1>
        
        <h3>Genero</h3>
        <p>{{results.gender}}</p>
        
        <h3>Edad</h3>
        <p>{{results.dob.age}} años. </p>
        
        <h3>Imagen</h3>
        <img :src="results.picture.large">
        
        <h3>Localizacion</h3>
        <p>{{results.location.street.name}}, {{results.location.city}}, {{results.location.state}}, {{results.location.country}}</p>
        
        <h3>Cordenadas:</h3>
          <ul>
            <li>Altitud: {{results.location.coordinates.latitude}}</li>
            <li>Longitud: {{results.location.coordinates.longitude}}</li>
          </ul>

        <h3>Identidad electronica</h3>

        <ul>
          <li>Usuario: {{results.login.username}}</li>
          <li>Correo electronico: {{results.email}}</li>
          <li>Contraseña: {{results.login.password}}</li>
        </ul>

      </div>

      <div v-for="results in jsonObject.results" v-if="results.gender != 'male'" style="color: violet; background: white;">
        <h1>{{results.name.title}} {{results.name.first}} {{results.name.last}}</h1>
        
        <h3>Genero</h3>
        <p>{{results.gender}}</p>
        
        <h3>Edad</h3>
        <p>{{results.dob.age}} años. </p>
        
        <h3>Imagen</h3>
        <img :src="results.picture.large">
        
        <h3>Localizacion</h3>
        <p>{{results.location.street.name}}, {{results.location.city}}, {{results.location.state}}, {{results.location.country}}</p>
        
        <h3>Cordenadas:</h3>
          <ul>
            <li>Altitud: {{results.location.coordinates.latitude}}</li>
            <li>Longitud: {{results.location.coordinates.longitude}}</li>
          </ul>

        <h3>Identidad electronica</h3>

        <ul>
          <li>Usuario: {{results.login.username}}</li>
          <li>Correo electronico: {{results.email}}</li>
          <li>Contraseña: {{results.login.password}}</li>
        </ul>

      </div>

    </div>

    <script>

      const App = new Vue({
        el: '#app',
        data: {
          jsonObject: {}
        },
        methods: {
            init() {
              fetch("https://randomuser.me/api/")
              .then(response => response.json())
              .then(data => (this.jsonObject = data));
            }
        },
        mounted(){
            this.init()
        }
      })
    </script>
  </body>
</html>